/* -------------------------Global------------------------------ */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  margin-bottom: 0 !important;
}

h2 {
  font-size: 40px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 0;
  margin-bottom: 0 !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
  flex-direction: column;
}

.d-block {
  display: block !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

/* -------------------------Header------------------------------ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-left img {
  padding-left: 24px;
  height: 60px;
  cursor: pointer;
}

.header-middle img {
  height: 100px;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.header-right button {
  height: 30px;
  background-color: #ef4036;
  border-width: 1px;
  border-left: none;
}

.header-right button img {
  height: 14px;
  padding-bottom: 4px;
}

/* -------------------------Pokemon Galery------------------------------ */

.pokemon-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 200px;
  border: 1px solid;
  border-radius: 32px;
  padding: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  color: white;
  transition: all 0.25s ease;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.14);
}

.card-content:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.species-and-img {
  display: flex;
  justify-content: space-between;
}

.species {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.species span {
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.img-card {
  height: 125px;
}

/* -------------------------Pokedex Card Top------------------------------ */

.pokedex-wrapper {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.pokedex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pokedex {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  height: 625px;
  width: 350px;
  border-radius: 40px;
}

.pokedex-top {
  color: white;
  height: 425px;
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.name-and-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.classes {
  display: flex;
  gap: 12px;
}

.classes p {
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.pokemon-img {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 24px;
}

.pokemon-img img {
  height: 250px;
  width: auto;
  z-index: 2;
}

/* -------------------------Pokedex Card Info------------------------------ */

.info-container {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  margin-top: -40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  background-color: white;
}

.info-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.info-nav h3 {
  cursor: pointer;
}

.color-black {
  color: black !important;
}

.color-lightgray {
  color: lightgray !important;
}

.about-data {
  display: flex;
  justify-content: start;
  text-align: left;
  padding-bottom: 8px;
}

.about-data p {
  width: 110px;
}

.about-data span {
  font-weight: bold;
}

.about-data div {
  display: flex;
  flex-direction: column;
}

.stats-data {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  width: 100%;
  padding-bottom: 8px;
}

.stats-data p {
  width: 120px;
}

.stats-data span {
  width: 16px;
}

.progress,
.progress-stacked {
  width: 150px;
  margin-left: 24px;
  --bs-progress-height: 6px !important;
  --bs-progress-bar-bg: unset !important;
  --bs-progress-bar-bg: #198754 !important;
}

.progressbar-bg-red {
  --bs-progress-bar-bg: unset !important;
  --bs-progress-bar-bg: #dc3545 !important;
}

.wrapper-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous-btn img {
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 32px;
}

.next-btn {
  margin-left: 32px;
}

.next-btn img {
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(180deg);
}

.load-more-container {
  display: flex;
  justify-content: center;
}

.load-more-btn {
  --bs-btn-bg: #ef4036 !important;
  --bs-btn-border-color: #ef4036 !important;
  --bs-btn-hover-bg: #b2231c !important;
  --bs-btn-hover-border-color: #b2231c !important;
  --bs-btn-font-size: 24px !important;
  margin-bottom: 24px;
}

/* ------------------------- Loading Screen ------------------------------ */

.loading-screen {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.loading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  color: white;
}

.loading-content h2 {
  padding-bottom: 0px;
}

.rotation-animation {
  width: 300px;
  height: 300px;
  margin: -0px 0 0 -0px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 660px) {
  .header-left {
    display: none;
  }

  header {
    height: 150px;
    flex-direction: column;
  }

  .pokemon-cards {
    justify-content: center;
  }

  .header-right {
    padding-right: 0;
  }
}

@media (max-width: 450px) {
  #load-more-h2 {
    font-size: 32px;
  }
}

@media (max-width: 420px) {
  .pokemon-cards {
    padding: 0;
    padding-top: 24px;
  }

  .card-content {
    margin-left: 0;
  }
}

@media (max-width: 360px) {
  #load-more-h2 {
    font-size: 24px;
  }

  .card-content {
    width: 280px;
  }
}
